---
layout: home
---
{% include header.html %}
<div class="c-posts">

  {% for post in site.posts %}

  {% if post.categories contains "Linux" %} 
  
  <article class="c-post">

    {% if post.image %}
    <a class="c-post-thumbnail" style="background-image: url({{"/images/" | prepend: site.baseurl | append : post.image}})"
      href="{{post.url | prepend: site.baseurl}}"></a>
    {% else %} {% endif %}
    <div class="c-post-content">
      <h2 class="c-post-title">
        <a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a>
      </h2>
      <p>{{ post.content | strip_html | truncate: 60 }}</p>
      <span class="c-post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp; </span>
    </div>
  </article>

  {% else %}  {% endif %}
  {% endfor %}
</div> <!-- /.c-posts -->
{% include categories.html %} 